
section{

    width: 100vw;
    display: flex;
    margin: 10px;
}

.simpleBorder img{
    margin: 5px;
    background-color: rgba(51, 92, 51, 0.301);
    border: 2px inset rgba(0, 0, 0, 0.2);
    padding: 5px;
}
.simpleBorder{
    font-family: fantasy;
    font-size: 16px;
    padding: 10px;
}

aside{
    flex: .7;
    margin-left: 10px;
}
article{
    flex: 1.7;
    margin-left: 10px;
    margin-right: 40px;

}

.title{
    font-family: fantasy;
    font-weight: bold;
    font-size: 32px;
}



#aboutMeWords {
    max-width: 1000px;
    font-family: fantasy;
    font-size: 14px;
    margin-right: 10px;
}