#contact{
    margin-bottom: 25px;
    background-color: rgba(0, 0, 0, 0.15);
    border: 2px inset rgba(0, 0, 0, 0.2);
    padding: 30px;
    grid-area: main;
    margin-top: 20px;

}

.contact{
margin-left: 40px;
margin-right: 40px;
margin: 50px;   
}
.contact-text{
margin-left: 60px;
margin-right:60px;
}

.submit{
margin-left: 40px;
margin-right: 40px;
}

input[type=button]{
width: 20%;
background-color: rgba(13, 53, 13, 0.301);
font-family: fantasy;
font-size: 15px;
padding: 5px;
border: 2px inset rgba(0, 0, 0, 0.2);
}

input[type=button]:hover{
background-color: rgba(33, 80, 33, 0.597);
border: 2px inset rgba(0, 0, 0, 0.2);
}

section{

    width: 100vw;
    display: flex;
    margin: 10px;
}

.simpleBorder{
    margin: 5px;
    background-color: rgba(51, 92, 51, 0.301);
    border: 2px inset rgba(0, 0, 0, 0.2);
    padding: 5px;
}
p.simpleBorder{
    font-family: fantasy;
    font-size: 16px;
    padding: 20px;
    width: 80%;
    margin-left: 5%;
    align-content: center;
}

aside{
    flex: 1; 
    margin-left: 10px;
}
article{
    flex: 1.7;
    margin-left: 40px;
    text-align: center;
}

img {
    width: 100%
}

a:link{
   color:black
}
a:visited{
    color:black
}
a:hover{
    color:#4B5C4E
}